<section class="section music" id="music">
  <div class="container">
    <div class="content">
      <h2>{{ translate 'sections.music' language }}</h2>
      <p>
        {{{ translate 'music.description' language }}}
      </p>
      <ul class="videos">
        {{#each videos}}
        <li>
          <figure>
            <iframe src="https://www.youtube.com/embed/{{id}}" loading="lazy" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <figcaption>{{description}}</figcaption>
          </figure>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</section>