<header class="hero">
  <div class="soundhole"></div>
  <div class="image"></div>
  <div class="strings">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <h1 class="bridge">
    <span class="name">{{translate 'title' language}}</span>
    <span class="description">{{translate 'subtitle' language}}</span>
  </h1>
</header>