<blockquote class="quote{{#if dark }} dark{{/if}}">
  <p>
    <span class="text">{{ getQuoteKey index 'text' language }}</span>
    <span class="author">{{ getQuoteKey index 'author' language }}</span>
  </p>
</blockquote>