<section class="section about" id="about">
  <div class="container">
    <div class="content">
      <h2>{{sections.about.title}}</h2>
      {{{ markdown sections.about.content }}}
    </div>
    <figure class="figure">
      {{{ picture 'emma-01' }}}
    </figure>
  </div>
</section>