<section class="section awards" id="awards">
  <div class="container">
    <figure class="figure">
      {{{ picture 'emma-02' }}}
    </figure>
    <div class="content">
      <h2>{{sections.awards.title}}</h2>
      {{{ markdown sections.awards.content }}}
    </div>
  </div>
</section>