<section class="section dates" id="dates">
  <div class="container">
    <div class="content">
      <h2>{{ translate 'sections.dates' language }}</h2>
      <ul class="dates-list">
        {{#each dates}}
        <li>
          <time datetime="{{date}}">{{formatDate date @root.language}}</time>
          <span>{{description}}</span>
        </li>
        {{/each}}
      </ul>
    </div>

  </div>
</section>