/* .page-homepage {
  .nav {
    background-color: white;
  }
} */

.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2rem;
  z-index: 1;
  padding: 0 2rem;
  background-color: white;
  letter-spacing: 0.02rem;
  transition: transform 0.2s ease-in-out, background 0.2s ease-in-out;

  &.scrolled {
    background-color: white;
    border-bottom: 1px solid var(--background-color-dark);
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &.current {
      font-weight: bold;
    }
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    text-transform: uppercase;
    &.sections {
      gap: 2rem;
      margin-right: auto;
    }
  }

  .links {
    li {
      a {
        display: flex;
        align-items: center;
        &:hover {
          img {
            scale: 1.1;
          }
        }
        img {
          height: 1.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 820px) {
  .nav {
    transform: translateY(-100%);
    height: auto;
    inset: 0;
    gap: 4rem;
    background-color: var(--background-color);
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;

    &.scrolled {
      background-color: var(--background-color);
    }

    ul:not(.links) {
      flex-direction: column;
      width: 100%;
      text-align: center;
      li {
        width: 100%;
        a {
          width: 100%;
          display: block;
        }
      }
    }
    .links {
      gap: 0.5rem;
      flex-direction: column;
      scale: 2;
    }
  }
}
