@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");
@import url("./hero.css");
@import url("./nav.css");
@import url("./sections.css");

:root {
  --background-color: #f0a944;
  --background-color-dark: #221f20;
  --soundhole-color: #221f20;
  --bridge-color: #241c17;
  --strings-color: #d2d4d5;

  --strings-size: 12rem;
  --soundhole-size: 24rem;
  --bridge-width: 32rem;
  --bridge-height: 6rem;

  --color-dark: rgb(25, 25, 25);
  --color-light: rgb(240, 240, 240);
  --image-width: 350px;

  --navbar-height: 3rem;
  --nav-toggler-size: 4rem;

  --serif: "Cormorant Garamond", serif;
  --sans-serif: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: var(--sans-serif);
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navToggler {
  display: none;
}

body {
  &:not(.page-homepage) {
    main {
      padding-top: 3rem;
    }
    .nav {
      background-color: white;
    }
  }
  &.loading {
    height: 100vh;
    overflow: hidden;
  }
  @media screen and (min-width: 769px) {
    &.loaded {
      .hero {
        .bridge {
          scale: 1.2;
          left: 85vw;
        }
      }
    }
  }
  @media screen and (max-width: 820px) {
    &:not(.page-homepage) {
      main {
        padding-top: 0;
      }
    }
    .navToggler {
      opacity: 0;
      position: fixed;
      top: 0;
      right: 0;
      appearance: none;
      background: none;
      border: none;
      width: var(--nav-toggler-size);
      height: var(--nav-toggler-size);
      display: flex;
      place-items: center;
      z-index: 5;
      background-image: url("./assets/icons/menu.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: calc(var(--nav-toggler-size) * 0.8);
    }
    &.loaded {
      .hero {
        .bridge {
          left: 0 !important;
          right: 0;
          transform: translateX(0);
          background-color: var(--background-color-dark) !important;
          color: var(--color-light) !important;
        }
      }
    }

    &.isNavOpen {
      overflow: hidden;
      .nav {
        transform: translateY(0);
      }
      .navToggler {
        background-image: url("./assets/icons/close.svg");
      }
    }
  }
}

a {
  color: var(--color-dark);
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  label {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    input {
      line-height: 2.5rem;
      padding: 0 0.5rem;
      border-radius: 0.25rem;
      border: 1px solid var(--background-color-dark);
    }
    textarea {
      padding: 0.5rem;
      border-radius: 0.25rem;
      border: 1px solid var(--background-color-dark);
      font-family: var(--sans-serif);
    }
  }
  button {
    height: 3rem;
    appearance: none;
    border: none;
    background-color: var(--background-color-dark);
    color: var(--color-light);
    transition: opacity 0.2s ease-in-out;
    border-radius: 0.25rem;
    &:hover {
      opacity: 0.8;
    }
  }
}

.footer {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-color-dark);
  color: var(--color-light);
  a {
    color: var(--color-light);
  }
}

.quote {
  font-family: var(--serif);
  padding: 5rem 0;

  &.dark {
    background-color: var(--background-color-dark);
    color: var(--color-light);
  }

  p {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.5;
    gap: 1rem;
    width: min(1024px, 90vw);
    margin: 0 auto;
    flex-direction: column;

    .text {
      &:before {
        content: "«";
      }
      &:after {
        content: "»";
      }
    }

    .author {
      font-weight: bold;
      font-style: italic;
      margin-left: auto;
    }
  }
}

@media screen and (max-width: 820px) {
  .quote p {
    font-size: 2rem;
  }
}
